Www-Authenticate header content is handled case-sensitively

Hi, I stumbled upon an issue in your library while using it with our private image registry based on Sonatype Nexus (via [OpenShift's cincinnati](https://github.com/openshift/cincinnati)).

When trying to connect and authenticate to our registry, the request fails with following error:

```text
[2021-11-19T12:33:31Z ERROR graph_builder::graph] failed to fetch all release metadata
[2021-11-19T12:33:31Z ERROR graph_builder::graph] www-authenticate header parse error
[2021-11-19T12:33:31Z ERROR graph_builder::graph] 'method' field missing
```

...where the last two lines originate from [your library](https://github.com/camallo/dkregistry-rs/blob/854d0da53bef5dd85b5e901123e85d43af97c74e/src/v2/auth.rs#L134).

Taking a deeper look at this error, I found out that our registry returns the Www-Authenticate header with the method in uppercase letters: `BASIC realm="Sonatype Nexus Repository Manager"`, but your [regex in src/v2/auth.rs](https://github.com/camallo/dkregistry-rs/blob/854d0da53bef5dd85b5e901123e85d43af97c74e/src/v2/auth.rs#L99-L110) expects the method to have its first letter uppercase with the rest in lower case. Because of this, the parsing of our registries' header fails, resulting in the above error message.

Looking at [RFC7235 Section 2.1](https://datatracker.ietf.org/doc/html/rfc7235#section-2.1), it is noted that method and keys should be handled as case-insensitive tokens:

> It uses a **case-insensitive token as a means to identify the authentication scheme** [...]. **Authentication parameters are name=value pairs, where the name token is matched case-insensitively** [...].

I suggest changing the Www-Authentication header parsing to be case-insensitive to better conform to the HTTP specification.

I have already created a fix for this issue and will open a new pull request shortly that I kindly ask you to review.

Thanks!